extends ../layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/category.css")


block content
  .inner
    a.back(href='/gallery') <-- Back
    .images
      for card in cards
        .card
          a(href= card.imageURL)
            img(src= card.thumbURL)
            //- h4= card.imageName

block scripts
    script(src="/javascript/category.js")
