extends ../layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/category.css")


block content
  .inner
    h1= categoryName
    .images
      for card in cards
        .card
          a(href= card.imageURL)
            img(src= card.thumbURL)
            h4= card.imageName
