extends ../layout

block content
  .inner
    .controls
      label(for="category") Select Category
      select(id="category", name="category")
        option(value="") Select Category
      label(for="newCategory") New Category
      input(type="text", name="newCategory")
      //- image upload box
      //- type new category

    .gallery
      p gallery

block scripts
  script(src="/javascript/galleryAdmin.js")
