extends ../layout

block content
  .inner
    h1 Gallery

    for category in galleryObj
      .itemBox
        a(href=`/gallery/${category.name}`)
          h3= category.name
          img(src=`images/gallery/${category.name}/thumbnails/${category.thumbnail}`, alt="thumbnail")
