extends ../layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/gallery.css")

block content
  .inner
    h1 Gallery

    for category in galleryObj
      if category.thumbnail
        .itemBox
          a(href=`/gallery/${category.category}`)
            h3= category.category
            img(src=`${category.thumbnail}`, alt="thumbnail")
