extends ../layout


block content
  .inner
    h1 Admin Panel
    .howTo
      h4 How To Use:
      p To edit a page (other than the home page), navigate to the page with the links in the top bar.
      p Any other miscellaneous items can be found here. If you find any issues, please email briggs at
      p <em>briggse@protonmail.com</em> or call/text at <em>605-290-0225</em>. Feature requests are welcome as well.

    .links
      a(href="/edit") Edit Homepage
      a(href="/admin/add") Add Admin
