extends ../layout

block content
  .inner
    h1 Reset Password
    form(method="POST")
      label(for="email") Email
      input(type='email' name='email')
      label(for='password') Old/Default Password
      input(type='password' name='password')
      br
      label(for='newPassword') New Password
      input(type='password' name='newPassword')
      label(for='confirmPassword') Confirm New Password
      input(type='password' name='confirmPassword')
      br
      label(for='resetToken') Password Token
      input(type='text' name='resetToken')
      input(type='submit')
