extends ../layout

block content
  form(method="POST")
    label(for="email") Email
    input(type='email' name='email')
    label(for='password') Password
    input(type='password' name='password')
    br
    label(for='newPassword') New Password
    input(type='password' name='newPassword')
    label(for='confirmPassword') Confirm New Password
    input(type='password' name='confirmPassword')

    input(type='submit')
