extends layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/homePage.css")

block content
  .hero
    h1.title GROTON FIRE & RESCUE

  .inner
    each page in pages
      .info
        h2= page.pageTitle
        .contentContainer
          img(src=`images/home/${page.pageID}.jpg`)
          pre= page.content
