doctype html
html
  head
    title #{title || h.siteName}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet")
    block stylesheets

  body

    header
      a(href="/") #[img#cross(src="/images/cross.png")]
      nav.primary-nav
        ul
          li #[a(href="/pictures") Pictures]
          li #[a(href="/gun-drawing") Gun Drawing]
          li #[a(href="/training") Training]
          li #[a(href="/calander") Calander Fundraiser]
          li #[a(href="/about") About]

    .flashes
      for flash in flashes
        p=flash

    .content
      block content

  //- script(src="/javascript/header.js")
