.inner h2 {
  font-size: 2em;
  /* border-bottom: 1px solid #b8860b; */
  padding-bottom: 5px;
}

.inner .card {
  padding: 10px 0;
  color: #232f3c;
}

.inner .card:nth-child(odd) {
  background-color: #efefef;
}

.inner .card p {
  line-height: 1em;
}

.inner .card .name {
  color: #232f3c;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
}

.inner .card .location {
  font-size: 1.1em;
}

.inner .card .gun {
  color: #314050;
}

.inner .card .date {
  color: #314050;
}

.shortLine {
  width: 122px;
  /* border-bottom: 2px solid #9f2122; */
  /* padding-top: 9px; */
}

.card:last-child .shortLine {
  border-bottom: none;
}

.years-title {
  font-size: 18pt;
  text-align: center;
  margin: 20px 0px;
}

.years {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 5px solid #b8860b;
}

.year {
  padding: 10px 20px;
}

.year:hover {
  background: #efefef;
  cursor: pointer;
}

.current {
  background: #efefef;
}
