.content {
  position: absolute;
  top: 110px;
  z-index: -1;
}

.hero {
  background-color: red;
  text-align: center;
  background-image: url("/images/firefighter2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 43%;
  position: relative;
  height: 69vh;
}

.title {
  font-size: 7.1em;
  color: #B8860B;
  position: relative;
  -webkit-text-stroke: 3px #000000;
  -webkit-text-fill-color: #B8860B;
  font-family: 'Alfa Slab One', cursive;
  top: 50px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}