.content {
  position: absolute;
  background-image: url("/images/firefightersLarge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  /* background-color: grey; */
  top: 100px;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.title {
  color: gold;
  font-size: 5.9em;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  top: 10%;
}

