/* CSS BELOW */

html {
  position: relative;
  min-height: 100%;
}


header {
  position: relative;
  height: 200px;
  width: 100%;
}

header img {
  width: 200px;
  height: 200px;
  float: left;
  clear: right;
}

header .primary-nav {
  background-color: #9F2122;
  width: 100%;
  border-bottom: 10px solid #b8860b;
  height: 100px;
}

header li {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 0% 46px 0 0;
}

header .primary-nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.flashes {
  position: relative;
  left: 17%;
}

.content {
  position: relative;
  color: #232f3c;
}

.inner {
  position: relative;
  width: 85%;
  /* padding-bottom: 90px;  for footer*/
  margin: auto;
  text-align: left;
}

.inner h1 {
  font-size: 6.5em;
  margin-bottom: 46px;
  margin-top: -4%;
  padding-bottom: 0px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.inner pre {
  font-size: 1.5em;
  white-space: pre-line;
  padding: 60px 0px;
  border-bottom: solid 3px #b8860b;
  border-top: solid 3px #b8860b;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: grey;
}
