*{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.box{
  background-color: red;
  display: inline-block;
  float: left;
}

.dropDown{
  display: block;
  position: relative;
}

img{
  width: 200px;
  height: auto;
  float: left;
}



