extends ../layout

block stylesheets

block content
  .inner
    form(method="POST" id="trainingForm")
      .repeat
        label(for="repeat") Repeat Training?
        input(type="checkbox" name="repeat" id="repeat" value="repeat")
      .trainingTitle
        label(for="title") Title
        input(type="text" name="title" placeholder="Truck Training" required value= trainingDay ? trainingDay.title : "")

      fieldset(name="date")
        legend Date - mm/dd/yyyy
        input(type='number' name='month' min='1' max='12' placeholder='3' required value= trainingDay ? trainingDay.date.start.getMonth() + 1 : "")
        input(type='number' name='day'  min='1' max='31' placeholder='24' required value= trainingDay ? trainingDay.date.start.getDate() : "")
        input(type='number' name='year'  min='2018' max='2099' placeholder='2018' required value= trainingDay ? trainingDay.date.start.getFullYear() : "")

      fieldset(name='startTime')
        legend Start Time
        input(type='number' name='hour' min='1' max='12' placeholder='12' required value= trainingDay ? trainingDay.hoursIn12(trainingDay.date.start) : "")
        input(type='number' name='minute' min='0' max='59' placeholder='00' required value= trainingDay ? trainingDay.date.start.getMinutes() : "")
        select(name="period")
          option(value="am") AM
          option(value="pm" selected= trainingDay ? (trainingDay.periodOf(trainingDay.date.start) === "pm") : false) PM

      fieldset(name='endTime')
        legend End Time
        input(type='number' name='endHour' min='1' max='12' placeholder='12' required value= trainingDay ? trainingDay.hoursIn12(trainingDay.date.end) : "")
        input(type='number' name='endMinute' min='0' max='59' placeholder='00' required value= trainingDay ? trainingDay.date.end.getMinutes() : "")
        select(name="endPeriod")
          option(value="am") AM
          option(value="pm" selected= trainingDay ? (trainingDay.periodOf(trainingDay.date.end) === "pm") : false) PM

      .info
        .location
          label(for="location") Location
          input(type="text" name="location" placeholder="Groton Fire Station" required value= trainingDay ? trainingDay.location : "")
        .extra
          label(for="info") Extra Info
          textarea(name="info", cols="60", rows="10" placeholder="e.g 'Bring Water', 'Bring Fire Gear'") #{trainingDay ? trainingDay.info : ""}

      input(type="submit" value="Submit")

block scripts
  script(src="/javascript/editTrainingDay.js")
