extends ../layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/training.css")


block content
  .inner
    h1 Training
    .training
      for day in trainingDays
        .card
          .cardTitle(id= day._id)
            h3.title= day.title
            p.location= day.location
            p.date= day.dateTimeRange
            .arrowButton
              .arrow
            .accentLine.hidden
          .dropDown.hidden
            p.info= day.info

block scripts
  script(src="/javascript/training.js")