mixin editForm(page = {})
  label(for="pageTitle") Title
  input(type="text" name="pageTitle" value= page.pageTitle)
  label(for="content") Content
  textarea(name="content" rows="20" cols="60")= page.content